body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}

a,
button,
input,
svg * {
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border-radius: 3px;
  border: 3px solid var(--color-nav-grey-text);
}

select {
  border-radius: 10px;
  border: 3px solid var(--color-nav-grey-text);
  font-weight: 100;
}

option {
  border-radius: 3px;
}

button:hover {
  transform: scale(1.06);
}

button:active {
  transform: scale(0.96);
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
  padding: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: var(--container-width);
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-blue: #5932EA;
  --color-green: #00B087;
  --color-red: #FFC5C5;
  --color-dark: #00000000;
  --color-grey: #cce7f7;
  --color-green-text: #16C098;
  --color-nav-grey-text: #9197B3;
  --color-main-grey-text: #B5B7C0;
  --green-border: 1px solid #008767;
  --red-border: 1px solid #DF0404;
  --button-grey-border: 1px solid #EEEEEE;
  --border-radius-nav: 8px;
  --border-radius-main-huge: 30px;
  --border-radius-main-small: 4px;
  --border-radius-main-search: 10px;
  --font-family-base: "Inter", sans-serif;
  --container-width: 1540px;
}

.backpack {
  position: relative;
  height: 550px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  margin-top: 70px;
}

.configuration {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.toggle-button {
  margin-bottom: 50px;
}
.toggle-button__button {
  display: flex;
  padding: 8px 14px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #4169E1;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  border: none;
  font-weight: 400;
}
.toggle-button__button:hover {
  transform: scale(1.06);
  transition-duration: 0.3s;
  background-color: #229ef1;
}
.toggle-button__button:active {
  transform: scale(0.96);
  transition-duration: 0.3s;
  background-color: #013c63;
}

.qrcode {
  display: none;
  position: absolute;
  max-width: 305px;
  border: 1px solid #4169E1;
  color: #4169E1;
  padding: 5px;
  border-radius: 30px;
  top: 200px;
  background-color: white;
}
.qrcode.active {
  display: block;
}
.qrcode__wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qrcode__line {
  height: 1px;
  width: 100%;
  background-color: #4169E1;
  border: none;
  margin-bottom: 40px;
}
.qrcode__image {
  padding: 25px;
  border: #4169E1 1px solid;
  border-radius: 30px;
}
.qrcode__text {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.body-color {
  display: flex;
  flex-direction: column;
}
.body-color__text {
  font-weight: 600;
}
.body-color__block {
  display: flex;
  gap: 15px;
}
.body-color__line {
  width: 100%;
  margin-bottom: 15px;
  height: 1px;
  background-color: #000000;
  border: none;
}
.body-color__color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  font-size: 12px;
}
.body-color__color-circle {
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 100%;
}
.body-color__color-circle:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}
.body-color__color-circle:active {
  transform: scale(0.96);
  transition-duration: 0.2s;
}
.body-color__color-circle.active {
  border: 1px solid #4169E1;
}

.material-button {
  border: 1px solid #000000;
  color: #000000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  height: 36px;
  width: 80px;
}
.material-button.active {
  color: #4169E1;
  border-color: #4169E1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
}/*# sourceMappingURL=style.css.map */