body{
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}
a,
button,
input, 
svg * {
  transition-duration: 0.2s;
}
a{
  text-decoration: none;
  color: inherit;
}
 input{
  border-radius: 3px;
  border: 3px solid var(--color-nav-grey-text);
 }

 select{
  border-radius: 10px;
  border: 3px solid var(--color-nav-grey-text);
  font-weight: 100;
 }
 option{
  border-radius: 3px;

 }
 button:hover{
  transform: scale(1.06);
 }
 button:active{
  transform: scale(0.96);
 }