:root{
  --color-blue: #5932EA;
  --color-green: #00B087;
  --color-red: #FFC5C5;
  --color-dark: #00000000;
  --color-grey: #cce7f7;

  --color-green-text: #16C098;
  --color-nav-grey-text: #9197B3;
  --color-main-grey-text: #B5B7C0;

  --green-border: 1px solid #008767;
  --red-border: 1px solid #DF0404;
  --button-grey-border: 1px solid #EEEEEE;

  --border-radius-nav: 8px;
  --border-radius-main-huge: 30px;
  --border-radius-main-small: 4px;
  --border-radius-main-search: 10px;

  --font-family-base: "Inter", sans-serif;

  --container-width: 1540px;
}